doctype html
html
    head
        link(rel="stylesheet" href="static/css/bootstrap.min.css", type="text/css")
        link(rel="stylesheet" href="static/css/projects.css", type="text/css")
        include ../general/wrapper_head
    body
        include ../general/wrapper_body

        for items, cat in posts
            div.container-md(id=cat.toLowerCase().replace(" ", "_"))
                b
                    p.category=cat
                - let i = 0;
                for project in items
                    div.project_container(onclick=`window.location.href="${project['posturl']}"` style='cursor:pointer')
                        div.row
                            b
                                p.project_topic=project["title"]
                            if i%2===0
                                p.project_description.col-lg-6=project["description"]
                                img.img-fluid.col-lg-6(src=project["banner"])
                            else
                                img.img-fluid.col-lg-6(src=project["banner"])
                                p.project_description.col-lg-6=project["description"]
                    - i += 1;   
                else
                    - i += 1;
                    p.noprojects=`There are currently no ${cat.toLowerCase()}`
                if i === 0
                    p.noprojects="All posts have been filtered out"

        include ../general/wrapper_footer