div.title
    b
        each elem in title
            if elem.startsWith("!")
                a(onclick="rainbow_c()")#red=elem.slice(1)
            else
                a=elem
div.subtitle
    - let i=0;
    if browser_title === "Home"
        each topic in subtitles
            b.hover-shrink
                //a(onclick=`extend("${topic}")` style="cursor: pointer;")=topic
                a=topic
            if i < subtitles.length-1
                a=" | "
            - i+=1;

        //div#extend_div
        //    a#extend_text
    else
        each topic in subtitles
            b.hover-shrink
                a(href=`#${topic.toLowerCase().replace(" ", "_")}` style="cursor: pointer;")=topic
            if i < subtitles.length-1
                a=" | "
            - i+=1;
