doctype html
html
   head
      link(rel="stylesheet" href="static/css/bootstrap.min.css", type="text/css")
      link(rel="stylesheet" href="static/css/about.css", type="text/css")
      include ../general/wrapper_head
   body
      include ../general/wrapper_body
      for items, cat in aboutmes
         div.container-md.category-wrapper(id=cat.toLowerCase().replace(" ", "_"))
            b
               p.category=cat
            - let i = 0;
            for info in items
               div.info_container
                  div.row
                     b
                        p.info_topic=info["title"]
                     if info["banner"].length > 4
                        if i%2===0
                           p.info_description.col-lg-6=info["description"]
                           if !info["banner"].startsWith("/") && !info["banner"].startsWith("http")
                              #{info["banner"]}
                           else
                              img.img-fluid.col-lg-6(src=info["banner"])
                        else
                           if !info["banner"].startsWith("/") && !info["banner"].startsWith("http")
                              #{info["banner"]}
                           else
                              img.img-fluid.col-lg-6(src=info["banner"])
                           p.info_description.col-lg-6=info["description"]
                     else 
                        for path in info["banner"]
                           img.img-fluid.col-lg-6(src=path)
               - i += 1;
            else
               p.noaboutme=`There are currently no about-me's about ${cat.toLowerCase()}`
               - i += 1;

      include ../general/wrapper_footer